@charset "UTF-8";
/* блоки - независимые повторяющиеся элементы с 
чётким определением 
exmpl: section-title, label-text
не имеют отступов! чтобы можно было повторно использовать
отступы задаёт обёртка

элементы - составная часть блока*
элементы шапки сайта
имя-класса-блока__имя-элемента

можно совмещать блок и элемент в одном class="navigation_subtitle subtitle" */
main, header, .top-section, footer {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
}

h1, h2, h3, h4 {
  margin: 16px 0;
  padding: 3px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e7acd554;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  border: 1px solid #3163fb;
  border-radius: 0 15px;
}

h1 {
  font-weight: 800;
  border: 2px solid #4b77fc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px/23px;
}

.header-nav {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 700;
  background: #f802613d;
  border: 1px solid #b9aeae;
  border-radius: 15px;
  color: #3104c3;
}

.header-nav ul {
  padding: 5px 10px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 575px) {
  .header-nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.nav-li {
  margin: 16px 5px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  background-color: #ff92deda;
  -webkit-box-shadow: 4px 4px 5px #8a8a8a;
          box-shadow: 4px 4px 5px #8a8a8a;
  border-radius: 8px;
  /*гор. смещение вправо -- вертикальное вниз -- сила размытия -- цвет  */
}

@media (max-width: 575px) {
  .nav-li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}

.nav-li_active {
  background-color: #9438fd6b;
}

.nav-li a {
  color: #313131;
  margin: 0;
  text-decoration: none;
}

.gradient {
  display: inline;
  margin: 10px;
  padding: 5px 5px 4px 5px;
  display: inline-block;
  background-color: aliceblue;
  font-size: 12px;
  border: 1px solid #908f8f;
  -webkit-transition-property: background-color, font-size, border;
  transition-property: background-color, font-size, border;
  /*указывает, что будем анимировать*/
  -webkit-transition-duration: 2s, 1s, 1s;
          transition-duration: 2s, 1s, 1s;
  -webkit-transition-delay: 0s, 0s, 0.5s;
          transition-delay: 0s, 0s, 0.5s;
  /*срок анимации*/
}

.gradient:hover {
  background-color: rgba(250, 58, 202, 0.36);
  padding: 5px 5px 4px 5px;
  font-size: 15px;
  border: 2px solid black;
}

#vkLink {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #000;
  line-height: 20px;
  -webkit-transition-property: padding;
  transition-property: padding;
  /* название CSS-свойств, к которым будет применен эффект перехода. Значение свойства может содержать как одно свойство, так и список свойств через запятую */
  -webkit-transition-duration: 1.6s;
          transition-duration: 1.6s;
  /*Продолжительность перехода*/
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  /*формат перехода, их куча, легче гуглить*/
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  /*задержка перед переходом*/
  -webkit-transition: padding 1s linear 0s;
  transition: padding 1s linear 0s;
  /*всё сразу, можно несколько свойств через запятую*/
}

#vkLink:hover {
  padding: 10px 18px;
}

.h-wrapper {
  border: 1px solid #000;
  padding: 5px;
}

.about-section {
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-bottom: 10px;
}

.smol-h {
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: #fff;
}

.about-section p {
  font-size: 14px;
  padding-left: 18px;
}

.crying-img {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .7;
}

.img-wrapper {
  height: 300px;
  width: 300px;
  /* тупа цвет */
  background-color: salmon;
  color: #fff;
  /* устанавливает фоновое изображение (одно или несколько) */
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(gray));
  background-image: linear-gradient(white, gray);
  /* repeat (по умолчанию) */
  background-repeat: repeat-x;
  /* бесполезно почти всегда, иногда нужно fixed для фона */
  background-attachment: scroll;
  /*  %	Горизонтальное смещение вычисляется по формуле ширина области расположения фона — ширина фонового изображения. Вертикальное смещение по формуле высота области расположения фона - высота фонового изображения, где размер изображения — это размер, заданный свойством background-size. Значение по умолчанию 0% 0%. */
  /* px	Задает фиксированную длину в качестве смещения. */
  /* left/center/right top/center/bottom  
	Если определить только одно значение, второе будет 50%. Xpos Ypos Верхний левый угол это 0 0. Любые CSS единицы.*/
  background-position: 0 10px;
  /*гор-верт*/
  background-position: bottom 10px right 30px;
  /* окантовка */
  background-clip: border-box;
  background-origin: border-box;
  /*  %	Задает размер фонового изображения в процентах от ширины или высоты элемента, которое заполняется фоном. */
  /* cover	Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока. */
  /* contain	Масштабирует изображение с сохранением пропорций таким образом, чтобы оно целиком поместилось внутри блока. */
  background-size: contain;
  /* универсальное свойство: */
  /* Если указываешь в краткой записи фона свойство background-size, то его значения нужно будет записать через слеш /, чтобы отделить его от свойства background-position. */
  background-color: salmon;
  background-image: url(/images/catpic.jpg);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  background-attachment: scroll;
  background: salmon url(/images/catpic.jpg) center left/cover no-repeat;
  /* при свойстве contain будет вылазить фон элемента при масштабировании*/
  /* Фон блока элемента может иметь несколько слоев в CSS3. Количество слоев определяется количеством значений, разделенных запятыми, указанных в свойстве background-image 
	Тогда перечисляются все свойства, и их значения тоже идут через запятую :
	background-image: url(flower_rose.png), url(love.png), url(border_white.png);
	background-position: bottom right, center center, top left; */
}

/* чтобы также издеваться над замещаемыми элементами <img> <input type="image">, <embed>, <iframe>, <video>, <canvas> можно из завернуть в клетку нужной формы и использовать 

	object-fit*/
/* fill	Значение по умолчанию. Содержимое замещаемого элемента полностью заполняет область контейнера, т.е. задает родителю размер.
	contain
	cover
	scale-down	Содержимое элемента выбирает из двух значений none и contain то значение, которое даёт меньшие размеры.
	none	Замещаемое содержимое не изменяет свои собственные размеры, чтобы поместиться и заполнить область контейнера. */
/* object-position 
	
	задаёт положение содержимого замещаемого элемента внутри контейнера left/center/right top/center/bottom  px / em/ %       */
.section11 {
  gap: 5px;
  margin-bottom: 20px;
  padding-top: 10px;
  display: -ms-grid;
  display: grid;
  grid-template: ". it1 it2 ." 1fr ". it3 it4 ." 1fr ". it5 it6 ." 1fr/1fr minmax(auto, 300px) minmax(auto, 300px) 1fr;
}

.item-sec {
  padding: 10px;
  border: 2px dotted gray;
  border-radius: 8px;
  background-color: #c8c0c0;
}

.section1__item:first-child {
  grid-area: it1;
}

.section1__item:nth-child(2) {
  grid-area: it2;
}

.section1__item:nth-child(3) {
  grid-area: it3;
}

.section1__item:nth-child(4) {
  grid-area: it4;
}

.section1__item:nth-child(5) {
  grid-area: it5;
}

.section1__item:last-child {
  grid-area: it6;
}

.section22 {
  border: 2px solid #f89090;
  padding: 4px;
  height: 400px;
  max-width: 600px;
  margin: 10px auto 0;
  gap: 8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 120px 120px;
  -ms-grid-columns: (minmax(60px, 140px))[3];
      grid-template: 120px 120px/repeat(3, minmax(60px, 140px));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section2__item {
  background-color: #ddf;
  border: 2px dashed gray;
}

.section2__item:first-child {
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.section2__item:nth-child(5) {
  grid-column: span 2;
  padding: 30px;
  text-align: center;
}

.section33 {
  padding: 4px;
  max-width: 600px;
  margin: 40px auto;
  grid-gap: 8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 1fr;
}

.section3__item:first-child {
  -ms-grid-column-align: left;
      justify-self: left;
}

.section3__item:last-child {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.bootstrap-testt {
  padding-top: 40px;
}

.bootstrap-testt .container {
  margin-bottom: 40px;
  background: url(../images/desktop-bootstrap.PNG) center/contain;
}

@media (max-width: 1200px) {
  .bootstrap-testt .container {
    background: url(../images/1200px.PNG) center/contain;
  }
}

@media (max-width: 991px) {
  .bootstrap-testt .container {
    background: url(../images/991px.PNG) center/contain;
  }
}

@media (max-width: 767px) {
  .bootstrap-testt .container {
    background: url(../images/767px.PNG) center/contain;
  }
}

@media (max-width: 400px) {
  .bootstrap-testt .container {
    background: url(../images/400px.PNG) center/contain;
  }
}

.frame {
  font-size: 12px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #7c7c7c;
  border-radius: 4px;
}

.grider {
  background-color: #fff;
  font-size: 10px;
  text-align: center;
}

.frame1 {
  background-color: #cff;
}

.frame2 {
  background-color: #fac;
}

.frame3 {
  background-color: #bafb7c;
}

.margin-mix {
  background-color: #f5e874;
}

.superButton {
  margin-top: 15px;
  position: relative;
  background-position: left top;
  width: 25px;
  height: 34px;
  /* треть изображения в 100рх*/
  background-image: url("../images/nav.png");
  background-repeat: no-repeat;
  background-origin: content-box;
  display: inline-block;
}

.superButton:hover {
  background-position: left top -34px;
  /*от топа отнимаем 34*/
  background-origin: content-box;
}

#answer {
  display: block;
  max-height: 200px;
  width: 96%;
  overflow: scroll;
}

.bomdom-main * {
  margin: 10px 0;
}

button, a {
  display: block;
}

.block1 {
  border: 1px solid #000;
  padding: 20px;
}

.div1 {
  background-color: #cff;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bootstr-link {
  color: pink;
}

.bootstr-frame {
  width: 80%;
  height: 400px;
  margin-bottom: 40px;
}

.tabl-forms-main * {
  margin: 10px 0;
}

/* Псевдоклассы!   ссылка, по которой пользователь ещё не переходил */
a:link {
  color: #ff2e90;
}

/* Псевдоклассы!   посещенная ссылка*/
/* Псевдоклассы!   по наведению на ссылку*/
/* Псевдоклассы!  по нажатию. Виден одно мгновение пока грузится страница */
/* Псевдоэлементы сломали рахметку нахер мне! */
/* Псевдоэлементы!  по наведению на форму заполнения*/
input:focus {
  background: aliceblue;
  border-color: black;
}

/* Псевдоэлементы!  по выбору куска текста*/
p::-moz-selection {
  background-color: #ff2e90;
}
p::selection {
  background-color: #ff2e90;
}
/*# sourceMappingURL=main.css.map */