@charset "UTF-8";
/* блоки - независимые повторяющиеся элементы с 
чётким определением 
exmpl: section-title, label-text
не имеют отступов! чтобы можно было повторно использовать
отступы задаёт обёртка

элементы - составная часть блока*
элементы шапки сайта
имя-класса-блока__имя-элемента

можно совмещать блок и элемент в одном class="navigation_subtitle subtitle" */
main, header, .top-section, footer {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: normal;
}

h1, h2, h3, h4 {
  margin: 16px 0;
  padding: 3px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e7acd554;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  border: 1px solid #3163fb;
  border-radius: 0 15px;
}

h1 {
  font-weight: 800;
  border: 2px solid #4b77fc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px/23px;
}

.header-nav {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 700;
  background: #f802613d;
  border: 1px solid #b9aeae;
  border-radius: 15px;
  color: #3104c3;
}

.header-nav ul {
  padding: 5px 10px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 757px) {
  .header-nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.nav-li {
  margin: 16px 5px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  background-color: #ff92deda;
  -webkit-box-shadow: 4px 4px 5px #8a8a8a;
          box-shadow: 4px 4px 5px #8a8a8a;
  border-radius: 8px;
  /*гор. смещение вправо -- вертикальное вниз -- сила размытия -- цвет  */
}

@media (max-width: 757px) {
  .nav-li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    margin: 8px 4px;
  }
}

.nav-li_active {
  background-color: #9438fd6b;
}

.nav-li a {
  color: #313131;
  margin: 0;
  text-decoration: none;
}

.nav-li a:visited {
  color: #313131;
}

.about-transition {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #000;
  line-height: 20px;
  -webkit-transition-property: padding;
  transition-property: padding;
  /* название CSS-свойств, к которым будет применен эффект перехода. Значение свойства может содержать как одно свойство, так и список свойств через запятую */
  -webkit-transition-duration: 1.6s;
          transition-duration: 1.6s;
  /*Продолжительность перехода*/
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  /*формат перехода, их куча, легче гуглить*/
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  /*задержка перед переходом*/
  -webkit-transition: padding 1s linear 0s;
  transition: padding 1s linear 0s;
  /*всё сразу, можно несколько свойств через запятую*/
}

.about-transition:hover {
  padding: 10px 18px;
}

.animation-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 200px;
  border: 1px solid #000;
  margin: 10px 10px 30px 0;
  padding: 10px;
  border-radius: 10px;
}

.animation-test__title {
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
  font-size: 10px;
}

.transform-item {
  width: 100px;
  margin: 20px;
  border: 1px solid #000;
}

.transform-item__experimental-boi {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  width: 98px;
  height: 98px;
  background: #efefef url(../images/shrek.png) center/contain no-repeat;
}

.transform-item__experimental-boi._1 {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.transform-item__experimental-boi._2 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.transform-item__experimental-boi._3 {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.transform-item__experimental-boi._4 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.transform-item__experimental-boi._5 {
  -webkit-transform: skew(12deg, 0);
          transform: skew(12deg, 0);
}

.transform-item__experimental-boi._6 {
  -webkit-transform: translate(7px, -7px);
          transform: translate(7px, -7px);
}

.transform-item__experimental-boi._7 {
  -webkit-transform: perspective(170px) rotateY(58deg);
          transform: perspective(170px) rotateY(58deg);
}

.transform-item__experimental-boi._8 {
  -webkit-transform: perspective(200px) rotateX(55deg);
          transform: perspective(200px) rotateX(55deg);
}

.transform-item__experimental-boi:hover {
  -webkit-transform: none;
          transform: none;
}

.transform-item__about {
  padding: 7px 0 5px 4px;
  margin: 0;
  font-size: 10px;
}

.animation-item {
  width: 100px;
  border: 1px solid #000;
  margin: 10px;
}

.animation-item__test-boi {
  width: 98px;
  height: 98px;
  background: #efefef url(../images/shrek.png) center/contain no-repeat;
}

.animation-item__test-boi._1 {
  -webkit-animation-name: spinning;
          animation-name: spinning;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: heartbit 4s linear infinite;
          animation: heartbit 4s linear infinite;
}

.animation-item__test-boi._1:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.animation-item__test-boi._2 {
  border-radius: 19px;
  -webkit-animation: spinning 6s linear infinite 1s;
          animation: spinning 6s linear infinite 1s;
}

.animation-item__test-boi._3 {
  -webkit-animation: click 3s linear infinite 2s;
          animation: click 3s linear infinite 2s;
}

.animation-item__test-boi._4 {
  -webkit-animation: flip 4s linear infinite 3s;
          animation: flip 4s linear infinite 3s;
}

.animation-item__test-boi._8 {
  -webkit-animation: rotorboi 8s linear infinite alternate 4s;
          animation: rotorboi 8s linear infinite alternate 4s;
}

.animation-item__title {
  font-size: 10px;
  width: 100%;
  padding: 7px 0 5px 4px;
}

.appear-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 18%;
          flex: 1 0 18%;
  min-width: 100px;
  margin: 10px;
  border: 1px solid #000;
}

.appear-item._wide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.appear-item__experim-boy {
  -webkit-transition: 2s;
  transition: 2s;
  width: 100%;
  height: 98px;
  background: #efefef url(../images/shrek.png) center/contain no-repeat;
}

.appear-item__experim-boy._in-cascade {
  margin: 10px;
  width: 98%;
  background-position: left top;
  background-repeat: repeat;
  background-size: 64px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.appear-item__title {
  padding: 7px 0 5px 4px;
}

.size-units {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.size-units__item {
  margin: 8px;
  padding: 4px 10px;
  border: 2px solid #cecece;
  border-radius: 8px;
}

.size-units__item._ch-input-wrapper {
  font-size: 20px;
}

.size-units__item._em {
  font-size: 0.8em;
}

.size-units__item._rem {
  font-size: 1rem;
}

.size-units__input-item {
  padding: 0;
  font-family: monospace;
  width: 8ch;
}

.h-wrapper {
  border: 1px solid #000;
  padding: 5px;
}

.about-section {
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-bottom: 10px;
}

.smol-h {
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: #fff;
}

.about-section p {
  font-size: 14px;
  padding-left: 18px;
}

.crying-img {
  opacity: 0.7;
  margin-bottom: 15px;
}

.img-wrapper {
  height: 300px;
  width: 300px;
  /* тупа цвет */
  background-color: salmon;
  color: #fff;
  /* устанавливает фоновое изображение (одно или несколько) */
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(gray));
  background-image: linear-gradient(white, gray);
  /* repeat (по умолчанию) */
  background-repeat: repeat-x;
  /* бесполезно почти всегда, иногда нужно fixed для фона */
  background-attachment: scroll;
  /*  %	Горизонтальное смещение вычисляется по формуле ширина области расположения фона — ширина фонового изображения. Вертикальное смещение по формуле высота области расположения фона - высота фонового изображения, где размер изображения — это размер, заданный свойством background-size. Значение по умолчанию 0% 0%. */
  /* px	Задает фиксированную длину в качестве смещения. */
  /* left/center/right top/center/bottom  
	Если определить только одно значение, второе будет 50%. Xpos Ypos Верхний левый угол это 0 0. Любые CSS единицы.*/
  background-position: 0 10px;
  /*гор-верт*/
  background-position: bottom 10px right 30px;
  /* окантовка */
  background-clip: border-box;
  background-origin: border-box;
  /*  %	Задает размер фонового изображения в процентах от ширины или высоты элемента, которое заполняется фоном. */
  /* cover	Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока. */
  /* contain	Масштабирует изображение с сохранением пропорций таким образом, чтобы оно целиком поместилось внутри блока. */
  background-size: contain;
  /* универсальное свойство: */
  /* Если указываешь в краткой записи фона свойство background-size, то его значения нужно будет записать через слеш /, чтобы отделить его от свойства background-position. */
  background-color: salmon;
  background-image: url(/images/catpic.jpg);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: border-box;
  background-attachment: scroll;
  background: salmon url(/images/catpic.jpg) center left/cover no-repeat;
  /* при свойстве contain будет вылазить фон элемента при масштабировании*/
  /* Фон блока элемента может иметь несколько слоев в CSS3. Количество слоев определяется количеством значений, разделенных запятыми, указанных в свойстве background-image 
	Тогда перечисляются все свойства, и их значения тоже идут через запятую :
	background-image: url(flower_rose.png), url(love.png), url(border_white.png);
	background-position: bottom right, center center, top left; */
}

.img-wrapper img {
  /* чтобы также издеваться над замещаемыми элементами <img> <input type="image">, <embed>, <iframe>, <video>, <canvas> можно из завернуть в клетку нужной формы и использовать 
	object-fit
	
	fill	Значение по умолчанию. Содержимое замещаемого элемента полностью заполняет область контейнера, т.е. задает родителю размер.
	contain
	cover
	scale-down	Содержимое элемента выбирает из двух значений none и contain то значение, которое даёт меньшие размеры.
	none	Замещаемое содержимое не изменяет свои собственные размеры, чтобы поместиться и заполнить область контейнера. */
  /* object-position 
	
	задаёт положение содержимого замещаемого элемента внутри контейнера left/center/right top/center/bottom  px / em/ %       
	
	vertival-align для положения блока
	*/
}

.index-footer__copyright {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 5%;
          column-gap: 5%;
  -webkit-column-rule: 3px solid lightblue;
          column-rule: 3px solid lightblue;
  margin-bottom: 20px;
}

@-webkit-keyframes rotorboi {
  0% {
    -webkit-transition: none;
    transition: none;
  }
  33% {
    -webkit-transition: scale(0.8);
    transition: scale(0.8);
  }
  66% {
    -webkit-transition: scale(0.8);
    transition: scale(0.8);
  }
  100% {
    -webkit-transition: none;
    transition: none;
  }
}

@keyframes rotorboi {
  0% {
    -webkit-transition: none;
    transition: none;
  }
  33% {
    -webkit-transition: scale(0.8);
    transition: scale(0.8);
  }
  66% {
    -webkit-transition: scale(0.8);
    transition: scale(0.8);
  }
  100% {
    -webkit-transition: none;
    transition: none;
  }
}

.section11 {
  gap: 5px;
  margin-bottom: 20px;
  padding-top: 10px;
  display: -ms-grid;
  display: grid;
  grid-template: ". it1 it2 ." 1fr ". it3 it4 ." 1fr ". it5 it6 ." 1fr/1fr minmax(auto, 300px) minmax(auto, 300px) 1fr;
}

.item-sec {
  padding: 10px;
  border: 2px dotted gray;
  border-radius: 8px;
  background-color: #c8c0c0;
}

.section1__item:first-child {
  grid-area: it1;
}

.section1__item:nth-child(2) {
  grid-area: it2;
}

.section1__item:nth-child(3) {
  grid-area: it3;
}

.section1__item:nth-child(4) {
  grid-area: it4;
}

.section1__item:nth-child(5) {
  grid-area: it5;
}

.section1__item:last-child {
  grid-area: it6;
}

.section22 {
  border: 2px solid #f89090;
  padding: 4px;
  height: 400px;
  max-width: 600px;
  margin: 10px auto 0;
  gap: 8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 120px 120px;
  -ms-grid-columns: (minmax(60px, 140px))[3];
      grid-template: 120px 120px/repeat(3, minmax(60px, 140px));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  justify-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section2__item {
  background-color: #ddf;
  border: 2px dashed gray;
}

.section2__item:first-child {
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.section2__item:nth-child(5) {
  grid-column: span 2;
  padding: 30px;
  text-align: center;
}

.section33 {
  padding: 4px;
  max-width: 600px;
  margin: 40px auto;
  grid-gap: 8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 1fr;
}

.section3__item:first-child {
  -ms-grid-column-align: left;
      justify-self: left;
}

.section3__item:nth-child(5) {
  grid-column: minmax(2fr, 4fr);
}

.section3__item:last-child {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.bootstrap-testt {
  padding-top: 40px;
}

.bootstrap-testt__title {
  background: #fff;
}

.bootstrap-testt .container {
  margin-bottom: 40px;
  background: url(../images/desktop-bootstrap.PNG) center/contain;
}

@media (max-width: 1200px) {
  .bootstrap-testt .container {
    background: url(../images/1200px.PNG) center/contain;
  }
}

@media (max-width: 991px) {
  .bootstrap-testt .container {
    background: url(../images/991px.PNG) center/contain;
  }
}

@media (max-width: 767px) {
  .bootstrap-testt .container {
    background: url(../images/767px.PNG) center/contain;
  }
}

@media (max-width: 400px) {
  .bootstrap-testt .container {
    background: url(../images/400px.PNG) center/contain;
  }
}

.frame {
  font-size: 12px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #7c7c7c;
  border-radius: 4px;
}

.grider {
  background-color: #fff;
  font-size: 10px;
  text-align: center;
}

.frame1 {
  background-color: #cff;
}

.frame2 {
  background-color: #fac;
}

.frame3 {
  background-color: #bafb7c;
}

.margin-mix {
  background-color: #f5e874;
}

.superButton {
  margin-top: 15px;
  position: relative;
  background-position: left top;
  width: 25px;
  height: 34px;
  /* треть изображения в 100рх*/
  background-image: url("../images/nav.png");
  background-repeat: no-repeat;
  background-origin: content-box;
  display: inline-block;
}

.superButton:hover {
  background-position: left top -34px;
  /*от топа отнимаем 34*/
  background-origin: content-box;
}

#answer {
  display: block;
  max-height: 200px;
  width: 96%;
  overflow: scroll;
}

.bomdom-main * {
  margin: 10px 0;
}

button, a {
  display: block;
}

.block1 {
  border: 1px solid #000;
  padding: 20px;
}

.div1 {
  background-color: #cff;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bootstr-link {
  color: pink;
}

.bootstr-frame {
  width: 80%;
  height: 400px;
  margin-bottom: 40px;
}

.tabl-forms-main * {
  margin: 10px 0;
}

.ov-hidden {
  overflow: hidden;
}

._appear--up {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transform: translate(0, 60%);
          transform: translate(0, 60%);
  opacity: 0;
}

._appear--down {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transform: translate(0, -60%);
          transform: translate(0, -60%);
  opacity: 0;
}

._appear--left {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transform: translate(-60%, 0);
          transform: translate(-60%, 0);
  opacity: 0;
}

._appear--right {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transform: translate(60%, 0);
          transform: translate(60%, 0);
  opacity: 0;
}

._appear--jump-out {
  -webkit-transform: scale(0.3, 0.1);
          transform: scale(0.3, 0.1);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.28, 0.62, 0.65, 1.64);
          transition-timing-function: cubic-bezier(0.28, 0.62, 0.65, 1.64);
}

._appear--zoom-in {
  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

._appear--lean {
  -webkit-transform: perspective(200px) rotateX(50deg) scale(0.9);
          transform: perspective(200px) rotateX(50deg) scale(0.9);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

._appear--impend {
  -webkit-transform: perspective(200px) rotateX(-50deg) scale(0.9);
          transform: perspective(200px) rotateX(-50deg) scale(0.9);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

._appear--cascade-wrapper._appeared ._appear--cascade-item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

._appear--cascade-wrapper._appeared ._appear--cascade-item:nth-child(1) {
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s ease 0s;
  transition: opacity 0.8s, -webkit-transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, opacity 0.8s;
  transition: transform 0.8s ease 0s, opacity 0.8s, -webkit-transform 0.8s ease 0s;
}

._appear--cascade-wrapper._appeared ._appear--cascade-item:nth-child(2) {
  -webkit-transition: opacity 0.8s ease 0.4s, -webkit-transform 0.8s ease 0.4s;
  transition: opacity 0.8s ease 0.4s, -webkit-transform 0.8s ease 0.4s;
  transition: transform 0.8s ease 0.4s, opacity 0.8s ease 0.4s;
  transition: transform 0.8s ease 0.4s, opacity 0.8s ease 0.4s, -webkit-transform 0.8s ease 0.4s;
}

._appear--cascade-wrapper._appeared ._appear--cascade-item:nth-child(3) {
  -webkit-transition: opacity 0.8s ease 0.6s, -webkit-transform 0.8s ease 0.6s;
  transition: opacity 0.8s ease 0.6s, -webkit-transform 0.8s ease 0.6s;
  transition: transform 0.8s ease 0.6s, opacity 0.8s ease 0.6s;
  transition: transform 0.8s ease 0.6s, opacity 0.8s ease 0.6s, -webkit-transform 0.8s ease 0.6s;
}

._appear--cascade-wrapper._appeared ._appear--cascade-item:nth-child(4) {
  -webkit-transition: opacity 0.8s ease 0.8s, -webkit-transform 0.8s ease 0.8s;
  transition: opacity 0.8s ease 0.8s, -webkit-transform 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s, -webkit-transform 0.8s ease 0.8s;
}

._appear--cascade-wrapper._appeared ._appear--cascade-item:nth-child(5) {
  -webkit-transition: opacity 0.8s ease 1s, -webkit-transform 0.8s ease 1s;
  transition: opacity 0.8s ease 1s, -webkit-transform 0.8s ease 1s;
  transition: transform 0.8s ease 1s, opacity 0.8s ease 1s;
  transition: transform 0.8s ease 1s, opacity 0.8s ease 1s, -webkit-transform 0.8s ease 1s;
}

._appear--cascade-wrapper._appeared ._appear--cascade-item:nth-child(6) {
  -webkit-transition: opacity 0.8s ease 1.2s, -webkit-transform 0.8s ease 1.2s;
  transition: opacity 0.8s ease 1.2s, -webkit-transform 0.8s ease 1.2s;
  transition: transform 0.8s ease 1.2s, opacity 0.8s ease 1.2s;
  transition: transform 0.8s ease 1.2s, opacity 0.8s ease 1.2s, -webkit-transform 0.8s ease 1.2s;
}

._appear--cascade-wrapper._appeared ._appear--cascade-item:nth-child(7) {
  -webkit-transition: opacity 0.8s ease 1.4s, -webkit-transform 0.8s ease 1.4s;
  transition: opacity 0.8s ease 1.4s, -webkit-transform 0.8s ease 1.4s;
  transition: transform 0.8s ease 1.4s, opacity 0.8s ease 1.4s;
  transition: transform 0.8s ease 1.4s, opacity 0.8s ease 1.4s, -webkit-transform 0.8s ease 1.4s;
}

._appeared {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.test-text-ul {
  margin-top: 200px;
  padding: 20px;
  border: 1px solid #000;
  text-align: justify;
  background-color: #fef;
  list-style-type: none;
}

.test-text-li {
  font-size: 14px;
  margin-bottom: 15px;
  padding: 10px;
  font-weight: 400;
  letter-spacing: 0.6px;
  word-spacing: 4px;
  border: 1px solid #8b8989;
  background: #eff;
  border-radius: 10px;
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  5% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  10% {
    border-radius: 6px;
  }
  15% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: none;
            transform: none;
    border-radius: 19px;
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  5% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  10% {
    border-radius: 6px;
  }
  15% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: none;
            transform: none;
    border-radius: 19px;
  }
}

@-webkit-keyframes click {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  2% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  4% {
    -webkit-transform: none;
            transform: none;
  }
  6% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  8% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes click {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  2% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  4% {
    -webkit-transform: none;
            transform: none;
  }
  6% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  8% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes heartbit {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  4% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  8% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  12% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  16% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbit {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  4% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  8% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  12% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  16% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  8% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  16% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  8% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  16% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes clickbait {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  2% {
    -webkit-transform: scaleX(1.05);
            transform: scaleX(1.05);
  }
  6% {
    -webkit-transform: scaleX(0.95);
            transform: scaleX(0.95);
  }
  10% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes clickbait {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  2% {
    -webkit-transform: scaleX(1.05);
            transform: scaleX(1.05);
  }
  6% {
    -webkit-transform: scaleX(0.95);
            transform: scaleX(0.95);
  }
  10% {
    -webkit-transform: none;
            transform: none;
  }
}

/*
Попробовать:
<ul class="test-text-ul _anim--cascade-wrapper">
  <li class="_anim--cascade-item test-text-li">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates itaque eum magnam harum incidunt minima
    expedita quam? Voluptatum nam, aspernatur quos debitis excepturi vel natus labore ipsam quae quaerat
    architecto amet esse repellendus facere cum deserunt odit a expedita illum. Provident blanditiis ipsam
    facere soluta velit harum dignissimos. Ipsa, cupiditate.
    Lorem ipsum dolor sit amet.
  </li>
  <li class="_anim--cascade-item test-text-li">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates itaque eum magnam harum incidunt minima
    expedita
    quam? Voluptatum nam, aspernatur quos debitis excepturi vel natus labore ipsam quae quaerat architecto amet
    esse
    repellendus facere cum deserunt odit a expedita illum. Provident blanditiis ipsam facere soluta velit harum
    dignissimos. Ipsa, cupiditate.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex labore magnam dicta est ipsa, placeat quam porro
    sunt facere nam omnis aliquid mollitia quis dolor veniam, tempore iusto! Nam, quia.
  </li>
  <li class="_anim--cascade-item test-text-li">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates itaque eum magnam harum incidunt minima
    expedita
    quam? Voluptatum nam, aspernatur quos debitis excepturi vel natus labore ipsam quae quaerat architecto amet
    esse
    repellendus facere cum deserunt odit a expedita illum. Provident blanditiis ipsam facere soluta velit harum
    dignissimos. Ipsa, cupiditate.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum doloribus est consequatur, vitae non facere
    iusto itaque autem quas rem debitis blanditiis quo tempore dolorem officiis ipsa, nisi et! Ea?
  </li>
  <li class="_anim--cascade-item test-text-li">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates itaque eum magnam harum incidunt minima
    expedita
    quam? Voluptatum nam, aspernatur quos debitis excepturi vel natus labore ipsam quae quaerat architecto amet
    esse
    repellendus facere cum deserunt odit a expedita illum. Provident blanditiis ipsam facere soluta velit harum
    dignissimos. Ipsa, cupiditate.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus libero, aliquam veritatis facilis nisi
    ab autem neque ratione, nihil debitis perspiciatis reprehenderit ut deserunt dolore alias earum pariatur
    dolorem quod.
  </li>
</ul>

остальные просто: вешаешь один из вариантов анимации или пишешь свой с custom
Родителю вешается ov hidden и всё делается само
*/
/* Псевдоклассы!   ссылка, по которой пользователь ещё не переходил */
a:link {
  color: #ff2e90;
}

/* Псевдоклассы!   посещенная ссылка*/
/* Псевдоклассы!   по наведению на ссылку*/
/* Псевдоклассы!  по нажатию. Виден одно мгновение пока грузится страница */
/* Псевдоэлементы сломали рахметку нахер мне! */
/* Псевдоэлементы!  по наведению на форму заполнения*/
input:focus {
  background: aliceblue;
  border-color: black;
}

/* Псевдоэлементы!  по выбору куска текста*/
p::-moz-selection {
  background-color: #ff2e90;
}
p::selection {
  background-color: #ff2e90;
}

.visually-hidden {
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/*# sourceMappingURL=main.css.map */