.superButton { 
	margin-top: 15px;
	position: relative;
	background-position: left top;
	width: 25px;
	height: 34px;
	/* треть изображения в 100рх*/
	background-image: url("../images/nav.png");
	background-repeat: no-repeat;
	background-origin: content-box;
	display: inline-block;

	&:hover {
		background-position: left top -34px;
		/*от топа отнимаем 34*/
		background-origin: content-box;
	}
}